/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

nav {
    background-color: #EB0A21;
    padding: 1em;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f0f0f0;
}

section {
    padding: 2em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.proyecto:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.proyecto img {
    max-width: 70%;
    height: auto;
    transition: transform 0.3s ease;
}

.proyecto:hover img {
    transform: scale(1.1);
}

.github-btn {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #EB0A21;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-btn:hover {
    background-color: #f0f0f0;
    color: #EB0A21;
    transform: scale(1.1);
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form h2 {
    color: #EB0A21;
    margin-bottom: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
}

form textarea {
    height: 150px;
}

form input[type="submit"] {
    background-color: #EB0A21;
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #f0f0f0;
    color: #EB0A21;
}
